<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
    <title>Document</title>
</head>
<body>
    <%- include('navMain') %>
    <div class="container">
        <div class="row">
            <form method="POST">
                <label>Write the title of the Blog</label>
                <input type="text" class="form-control" name="blog_title">
                <br>
                <label>Author Name</label>
                <input type="text" class="form-control" name="blog_author">
                <br>
                <label>Write the Sub-heading of the Blog</label>
                <input type="text" class="form-control" name="blog_heading">
                <br>
                <label>Write Content</label>
                <br>
                <br>
                <textarea id="editor" class="form-control" name="blog_content">
                </textarea>
                <br>
                <br>
                <button type="submit" class="btn btn-primary" >Submit</button>
                <br>
                <br>
            </form>
        </div>
    </div>


    <script>
      CKEDITOR.replace('editor');
    </script>
    <%- include('footer') %>
</body>
</html>