<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
  <link rel="stylesheet" href="/css/design.css" />
  <title>Design Questions</title>
</head>

<body>
  <%- include('navMain') %> <!-- the correct way to include one page into another page-->
  
  <h3 style="text-align: center; color:blue;">Build your own questions and get it post in Our Website</h3>
  <br/>
  <div class="container">
    <div class="row">
      <form method="POST">


        <div class="col-sm-12 col-md-12 " >
          <label style="text-align: center;">Write Heading of the questions</label>
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control" name="heading" size="100%" placeholder="Max length 8 words" required/>
        </div>
        <br/>


        <div class="col-md-12">
          <label>Write questions description</label>
        </div>
        <div class="col-md-12">
          <textarea id="textarea" class="form-control" name="description" rows="7" cols="100%" required>
          </textarea>
        </div>
        <br/>


        <div class="col-md-12">
            <label>Input</label>
        </div>
        <div class="col-md-12">
            <textarea id="textarea" class="form-control" name="input" rows="3" cols="50%" required>
            </textarea>
        </div>
        <br/>


        <div class="col-md-12">
            <label>Output</label>
        </div>
        <div class="col-md-12">
            <textarea id="textarea" class="form-control" name="output" rows="3" cols="50%" required>
            </textarea>
        </div>
        <br/>


       <div class="row">
          <div class="col-sm-12 col-md-5">
              <label>Sample Input</label>
              <textarea  name="sampleinput" class="form-control" rows="3" cols="30%" required>
              </textarea>



            </div>
            <div class="col-sm-12 col-md-5">
              <label>Sample Output</label>
              <textarea  name="sampleoutput" class="form-control" rows="3" cols="30%" required>
              </textarea>
            </div>
       </div>
       <br/>


       <div class="col-md-12">
         <label>Explanation</label>
      </div>
      <div class="col-md-12">
          <textarea id="textarea" class="form-control" name="explanation" rows="3" cols="100%" >
         </textarea>
      </div>
      <br/>


        <div class="col-md-12">
          <label>Write Your Code below</label>
        </div>
       <div class="row">
        <div class="col-sm-12 col-md-6">
          <textarea  name="code" onchange="change()" class="form-control" id="code" rows="10" cols="50%" required/>
          </textarea>
        </div>


        <div class="col-sm-12 col-md-6">
            <pre id="paste"  class="prettyprint" class="form-control" style="overflow:hidden">
            </pre>
        </div>
       </div>
       <br/>
       <div class="col-md-12" style="float: left;">
          <button type="submit" class="btn btn-success" > Submit </button>
       </div>
       </div>
      </form>
    </div>
  </div>
  
 <footer>
   <br/>
   <br/>
 </footer>
 <script>
   // this script is for the code visualization 
    function change(){
      var x = document.getElementById('code').value;
      document.getElementById('paste').innerHTML = x;
    }
 </script>
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>