<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .footer{
            background-color: rgb(5, 5, 54);
            height: 250px;  
            margin-top: 100px;
            width: 100%;
        }
    </style>
</head>
<body>
    
    <footer class="footer" >
        
            <div class="row">
                <div class="col-md-12" style="text-align: center; margin-top:90px;">
                    <a href="mailto:officialncode@gmail.com" style="margin:5px;"><i class='fas fa-mail-bulk' style='font-size:48px;color:red;'></i></a>
                    <a href="http://www.instagram.com/officialncode" style="margin:5px;"><i class="fa fa-instagram" style="font-size:48px;color:red;"></i></a>
                    <a href="https://www.linkedin.com/company/ncode-official" style="margin:5px;"><i class="fa fa-linkedin-square" style="font-size:48px;color:red"></i></a>
                    <a href="#" style="margin:5px;"> <i class='fab fa-facebook' style='font-size:45px;color:red'></i></a>
                   
                </div>
          
        </div>
    </footer>
</body>
</html>