<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <style>
        body{
            background-color: blue;
        }
        h1{
            
            color: orange;
            text-align: center;
        }
    </style>
</head>
<body>
    <%- include('../processingPages/navMain') %>
    <h1 > Hey OMG you are at wrong page !!!</h1>
     <%- include('../processingPages/footer') %>
</body>
</html>