<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <style>
        .about{
            font-family: 'Anonymous Pro';font-size: 22px;
            text-transform: uppercase;
        }
        .first{
            position: relative;
        }
        .quotes{
            font-family: 'Sofia';font-size: 22px;
            font-weight: 500;
        }
    </style>
</head>
<body>
    <%- include('navMain') %>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                    <img src="images/about.png" style="width:100%;height:100%;">
            </div>
            <div class="col-sm-12 col-md-7 text-center about">
                    we are the group of young and intelligent minds .
                    <br>
                    we are working together to make the brilliant minds . <br>
                    we strongly believe  that Computer science has vast scope and <br>
                    a lot more things can be done to make this world more better
                    hence we are empowering our students to achieve a lot more .
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <span class="quotes">Every thing around us is an algorithm , only need is to observe it .</span>
               &nbsp;&nbsp;&nbsp; -
               
            </div>
            <div class="col-sm-12 col-md-3">    
                <span><strong>Ashish Kumar Gupta</strong></span>
                <br>
                <span>Founder <small>(NCODE)</small></span>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <span class="quotes">It is better to do something than just thinking of something to do</span>
                   &nbsp;&nbsp;&nbsp; -
                   
                </div>
                <div class="col-sm-12 col-md-3">    
                    <span><strong>Aman Singh</strong></span>
                    <br>
                    <span>Co-  Founder <small>(NCODE)</small></span>
                </div>
            </div>
        </div>




    <%- include('../processingPages/footer') %>
</body>
</html>