<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <title>NCODE</title>
</head>
<body>
    <%- include('navMain') %>
    <div class="container">
        <div class="row" >
            <div class="col-sm-12 col-md-6  courses-bg">
                    <span class="courses">Competitive Programming</span>
                    &nbsp;and&nbsp;
                    <span class="courses"> C++ Courses </span>
                    will be out soon!
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8">
                    <h1 class="heading">
                       <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                Learn.
                            </div>
                            <div class="col-sm-12-4">
                                Explore.
                            </div>
                            <div class="col-sm-12 col-md-4">
                                Code.   
                            </div>
                        </div>
                       </div>
                    </h1>
                    <br>
                    <br>
                    <h4 class="next-heading">Sharp your Coding Skills with Us!</h4>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="row ">
                    <img src="images/computer.png" style="width:100%;height:100%;">
                </div>
            </div>  
            <div class="row">
                <div class="col-sm-12 col-md-6 mainButtonLargeScreen">
                   <a href="/problems"><button class="btn btn-primary">Explore Problems</button></a>
                </div>
                <div class="col-sm-12 col-md-6 mainButtonLargeScreen">
                    <a href="/blogs"><button class="btn btn-primary">BLOGS</button></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 mainButtonSmallScreen ">
                        <a href="/problems"><button class="btn btn-primary">Explore Problems</button></a>
            </div>
            <div class="col-sm-12 col-md-6 mainButtonSmallScreen ">
                         <a href="/blogs"><button class="btn btn-primary">BLOGS</button></a>
            </div>
        </div>
    </div>





    <!-- Courses DIVISION -->
    <div class="container">
        <div class="row" >
            <div class="col-sm-12 col-md-12 courses-heading" >
                OUR Courses .<br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <img class="courseImage1"  src="images/courseImage1.png" alt="Coding Image">
            </div>
           <div class="col-sm-12 col-md-7">
                
            <div class="row">
                <div class="col-sm-12 col-md-6"  >
                    <a href="/courses">
                        <div class="card" style="background-image: linear-gradient(#f6cf4b, #f1a017); height: 150px; text-align: center; margin:10px;">
                                <div class="card-body ">
                                 Competitive Programming.
                                </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6">
                        <a href="/courses">
                            <div class="card" style="background-image: linear-gradient(#6fddf7,#3d6bfd); background-color: blue; height: 150px; text-align: center;  margin:10px;">
                                <div class="card-body">
                                Data Structures with C++.
                                 </div>
                            </div>
                        </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <a href="/courses">
                        <div class="card" style="background-image: linear-gradient(#8dea97  ,#459f45); height: 150px; text-align: center; margin:10px;">
                            <div class="card-body">
                            Data Structures with Python.
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6" >
                        <a href="/courses">
                            <div class="card" style=" background-image: linear-gradient(to right,rgb(21, 88, 149), rgb(10, 119, 184)); height: 150px; text-align: center;  margin:10px;">
                                <div class="card-body">
                                       Full Stack Web Development with Node JS.
                                </div>
                         </div>
                        </a>
                </div>
           
            </div>  
           </div>
        </div>
    </div>
    <div class="container" >
       <div class="col-sm-12 col-md-12 courses-heading">
            Join Us.
       </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                    <p class="joinus">
                        <br>
                        <br>We are working hard to make the Education and Technology more easy and more accessible for
                        the people .
                       We are trying to make easy teaching methodology by which a student can easily understand the 
                       concepts and can grasp more things in a small amount of time . 
                     
                    </p>
            </div>
            <div class="col-sm-12 col-md-5" style="float:top;" >
                    <!-- position: relative; bottom:300px;left:10px; -->
                        <img class="courseImage2" src="images/courseImage2.png" alt="Coding Image 2">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p class="joinus">
                        Our Main focus is on the Computer Science and the recent Computer Technologies . Here the student can add
                        many skills into his skill set .So <strong>Join</strong> our community .
                </p>
                
            </div>
        </div>

    </div>
    <!-- Start of Content Below the courses Panel    -->
    <%- include('footer') %>
</body>
</html>